@use '../variables' as *;
@use '../mixins/breakpoints' as *;

@mixin st_btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;

	text-align: center;
	white-space: nowrap;

	cursor: pointer;
	text-decoration: none;
}

// color extends
%red_btn {
	@include st_btn;

	font-weight: 400;
	color: $color_white;
	background-color: $color_red;
	transition: 0.3s ease;
	border: 2px solid $color_red;

	&:hover {
		background-color: $color_white;
		color: $color_black;
	}
}

// size extends
%btn_size_1 {
	min-width: 26rem;
	height: 7.9rem;
	padding: 0 2.5rem;

	line-height: 7.9rem;
	font-size: 1.8rem;

	border-radius: 0.5rem;
}

%btn_size_2 {
	min-width: 28rem;
	height: 7.9rem;
	padding: 0 2.5rem;

	line-height: 7.9rem;
	font-size: 1.8rem;

	border-radius: 0.5rem;
}

.btn_base {
	@extend %red_btn;
	@extend %btn_size_1;
}

.btn_base--big{
	@extend %red_btn;
	@extend %btn_size_2;
}
