@use './helpers/abstracts' as *;

html {
	// font-size: calc(100dvw / 1920 * 10);

	font-size: 10px;
}

html,
body {
	height: 100%;
	font-family: $font_1;
	font-weight: 400;
	line-height: 1.6;
	scroll-behavior: smooth;
}

.wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}

.main {
	flex-grow: 1;
}

.section {
	width: 100%;
	padding: 12rem 0;
	&.section--hero {
		padding-top: 5.5rem;
		padding-bottom: 0;
		background-color: $color_accent;
	}
	&.section--grey_bg {
		background-color: $color_grey;
	}
}

.container {
	max-width: 120rem;
	width: 100%;
	padding: 0 2rem;
	margin: 0 auto;
	&.container--hero {
		max-width: 123.3rem;
	}
}
.content__row_title {
	margin-bottom: 6rem;
}
.content__row_cards {
	display: flex;
	column-gap: 4rem;
	&.content__row_cards--pro{
		align-items: center;
	}
}

.main_font {
	font-size: 1.8rem;
	line-height: 1.6;
	color: $color_black;
	&.main_font--red{
		color: $color_red;
	}
	&.main_font--popup{
		color: rgba($color_accent, 0.7);
	}
}
.section_title_font {
	font-weight: 600;
	font-size: 5rem;
	line-height: 1.6;
	color: $color_black;
}
.card__title {
	font-weight: 600;
	font-size: 2.4rem;
	color: $color_black;
}
